<div class="panel panel-default">
  <div class="panel-heading">Your Shorten Links</div>
  <ul class="list-group">
    <% @links.each do |link| %>
      <li class="list-group-item">
        <%= render 'short_link', link: link %>
      </li>
    <% end %>
  </ul>
</div>