<div class="panel panel-default">
  <div class="panel-heading">Your Shorten Links</div>
  <ul class="list-group">
    <% @links.each do |link| %>
      <li class="list-group-item">
        <%= link_to visit_remote_url(link), "#", class: "text-success" %> <button type="button" class="btn btn-xs btn-info">Copy</button>
        <br>
        <span><%= link.given_url %></span>
      </li>
    <% end %>
  </ul>
</div>