<p id="notice"><%= notice %></p>

<h4>Your URL was shortened</h4>

<div class="well">
  <%= render 'short_link', link: @link %>
</div>
<p>
  <%= link_to 'Shorten another URL', new_link_path, class: "btn btn-success" %>
  <%= link_to 'List of URLs', links_path, class: "btn btn-default" %>
</p>