@import "bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #a3aaae;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.marketing {
  margin: 40px 0;
}