<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="<%= root_path %>">Home</a></li>
      <li role="presentation"><a href="#">Sign in</a></li>
      <li role="presentation"><a href="#">Sign up</a></li>
    </ul>
  </nav>
  <a href="<%= root_path %>">
    <h3 class="text-muted">SmartLink</h3>
  </a>
</div>